*.pyc
data/*
## the original files
!data/gene.dev
!data/gene.key
!data/gene.test
!data/gene.train
!data/parse_dev.dat
!data/parse_dev.key
!data/parse_test.dat
!data/parse_train.dat
!data/parse_train_vert.dat
!data/tree.example
!data/corpus.en
!data/corpus.es
!data/dev.en
!data/dev.es
!data/dev.key
!data/test.en
!data/test.es
!data/tag.model
